<h2><%= t('views.user.update_password.title', :default => 'Change password') %></h2>

<%= form_for(@user, :url => { :action => "edit_password" } ) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(<%= t('views.user.update_password.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i><br />
    <%= f.password_field :current_password %></div>

  <div><%= f.submit t('views.update', :default => "Update") %></div>
<% end %>

<%= button_to t('views.back', :default => 'Back'), :back, :method => :get %>
