<div id='chunklist'>
  <% if @book.has_chunks? %>
    <table>
      <tr>
        <th><%= Chunk.human_attribute_name(:title) %></th>
        <th><%= Chunk.human_attribute_name(:section) %></th>
        <th><%= Chunk.human_attribute_name(:user) %></th>
        <th><%= Chunk.human_attribute_name(:version) %></th>
        <% unless @book.closed? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
      <% @book.chunks.each do |chunk| %>
        <tr id="<%= chunk.tag_id %>">
          <td><%= link_to chunk.title, @book.closed? ? book_chunk_path(@book, chunk) : edit_book_chunk_path(@book, chunk) %></td>
          <td><%= chunk.section %></td>
          <td><%= chunk.username %></td>
          <td><%= chunk.versions.last.id unless chunk.versions == nil %></td>
          <% unless @book.closed? %>
            <td><%= button_to I18n.t('views.destroy'), book_chunk_path(@book, chunk), method: :delete, remote: true, data: {confirm: I18n.t('views.are_you_sure')} %> </td>
            <td>
              <% unless !chunk.has_autosave_chunks? %>
                <%= button_to I18n.t('views.show_autosaves'), show_autosaves_book_chunk_path(@book, chunk), method: :post, remote: true %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><%= I18n.t('views.chunk.index.empty') %></p>
  <% end %>
</div>

<div id='dialog' style='display:none;'></div>

<br/>