<h1><%= t 'views.chunk.edit.title' %></h1>

<%= render 'form' %>

<%= button_to I18n.t('views.back'), @book, method: :get %>


<script>

    $(document).ready(function () {
        $("#chunk_title").change(autosave);
        $("#chunk_section").change(autosave);
        CKEDITOR.instances.chunk_content.on('change', autosave);
    });

    var last_update_time = 0;

    function autosave() {
        var now = new Date().getTime();
        if ( now - last_update_time > 5000 ) {
            last_update_time = now;
            $.ajax({
                type: "POST",
                url: "/books/<%= @book.id %>/chunks/<%= @chunk.id %>/autosave",
                data: { title: $("#chunk_title").val(), section: $("#chunk_section").val(), content: CKEDITOR.instances.chunk_content.getData() },
                dataType: "script",
                success: function (data) {
                    //console.log(data);
                }
            });
        }
    }
</script>